
:javascript
  $(function() {
    setup_render_button();
    setup_compare_button();
  });
  
  function setup_render_button() {
    $('#render_button').click(function() {
      popuplate_rendering_content($('#first_doc_root').val(), null);
      return false;
    });
  }
  
  function setup_compare_button() {
    $('#compare_button').click(function() {
      popuplate_rendering_content($('#first_doc_root').val(), $('#second_doc_root').val());
      return false;
    });
  }
  
  function popuplate_rendering_content(first_doc_root, second_doc_root) {
    var document_select_form = $('#document_select_form')
    var rendering_content_div = $('#rendering_content')
    var rendered_class = #{RENDERED_CLASS.to_s.inspect}
    
    // Hide select form
    document_select_form.hide();
    
    // Show loading message
    rendering_content_div.html('<center id="content_loading_image">Rendering, please wait. &nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/ajax-loader.gif" /></center>');
    
    if (second_doc_root == null) {
      url = '/render/render_doc_by_id/' + rendered_class + '/' + first_doc_root;
    } else {
      url = '/render/compare_docs_by_id/' + rendered_class + '/' + first_doc_root + '/' + second_doc_root;
    }
    
    $.ajax({
      type: 'POST',
      url: url,
      success: function(responseText) {
        rendering_content_div.html(responseText);
      },
      error: function() {
        rendering_content_div.html('<center>An error occurred while rendering.</center>');
      }
    });
  }

#document_select_form
  %form{:action => "", :method => 'POST'}
    .first_document_select_text
      Please select a document:
    %select#first_doc_root{:name => 'first_doc_root'}
      - @doc_roots.each do |doc_root|
        %option{:value => doc_root.id}
          = doc_root.name
    %input#render_button{:type => 'submit', :name => 'render_document', :value => 'Render document', :disabled => @doc_roots.empty?}
    %br
    %br
    .second_document_select_text
      Optionally select a document to compare against:
    %select#second_doc_root{:name => 'second_doc_root'}
      - @doc_roots.each do |doc_root|
        %option{:value => doc_root.id}
          = doc_root.name
    %input#compare_button{:type => 'submit', :name => 'compare_documents', :value => 'Compare documents', :disabled => @doc_roots.empty?}
    This comparison may take several minutes.
#rendering_content