#!/usr/bin/env ruby  # This is the shebang line for rvm. For default OS X ruby, it's #!/usr/bin/ruby

# An alternative is to run from the shell "ruby catapult.rb" (if app has been generated)

# Foundation load_path_management can not be revectored to a development version, 
# becasue it's code is used to do the redirection (to reduce redundancy)
require 'Foundation/load_path_management'
Foundation.setup_app('<%= gem_name %>', __FILE__)

value = load '<%= gem_name %>/import/import_controls.rb'

