#!/usr/bin/env ruby  # This is the shebang line for rvm. For default OS X ruby, it's #!/usr/bin/ruby

# Foundation load_path_management can not be revectored to a development version, 
# becasue it's code is used to do the redirection (to reduce redundancy)
require 'Foundation/load_path_management'
Foundation.setup_app('<%= gem_name %>', __FILE__)


require "<%= gem_name %>_generated"
require "<%= gem_name %>_generated/model/driver" 

require 'db_io'
# Wipe out the current database file - a new empty one is created automatically
data_file = File.join(ENV['PROMETHEUS'], 'data/<%= gem_name %>_generated/SQL.db')
# rm_rf(data_file) if File.exist?(data_file)    <<<<<<< no, it's not being created automatically
$DEFAULT_IO = DB_IO::JSON.new
DB.import_tables

