#!/usr/bin/env ruby  # This is the shebang line for rvm. For default OS X ruby, it's #!/usr/bin/ruby

# Foundation load_path_management can not be revectored to a development version, 
# because it's code is used to do the redirection (to reduce redundancy)
require 'Foundation/load_path_management'
Foundation.setup_app('<%= gem_name %>', __FILE__, :non_destructive)

load 'telemetheus_server.rb'
