:markdown

  #Agreement
  <br>
  Prometheus computing never sells email addresses or any other information about users or testers.
  <br>
  This is a beta product:

  * We believe this version is stable (we use it internally). Because this is still under development:
    * Loss of information is possible, although we are unaware of any bugs that could cause that.
    * Information you enter may be visible to other testers, although we are unaware of any scenarios that could cause that.
    * Product features and data organization are likely to change.
  * Promethus Computing will not be held responsible for any negative consequences.
  * Thank you very much for your suggestions! Please send them to Art Griesser at a.griesser (at) prometheus computing dot com.
