
# RichText language is no longer spcified here. It's now done in meta_info.rb
defaults :Details, 'GuiBuilder::Home.new'

_root = '<%= ModelInfo.instance.gem_name %>'
_cvh = "#{_root}/clear_view_helpers"
_cv = "#{_root}/clear_views"

# Explicitly list the _clear_views you want active
_clear_views = [
  # "#{_cv}/example.rb",
]

# Explicitly list the helpers your _clear_views need
_helpers = [
  "#{_cvh}/dsl_extension.rb",
]

_local_paths = _helpers + _clear_views

# Evaluate the code in the files specified by local_paths
# Evaluation occurs in the order in which the files are listed.
_local_paths.each {|local_path|
  puts "LOADING CLEAR VIEW: #{local_path}"
  clear_view_content_path = local_path.find_on_load_path
  clear_view_content = File.read(clear_view_content_path)
  Gui::TopLevelDsl.instance_eval(clear_view_content, clear_view_content_path, 1)
}


=begin

Some examples of spec modifications:


UNWANTED_DOC_ATTRIBUTES = ["Organizational Scope", "Other Scope", "Time Frame Scope", "Architectural and Tecnological Scope",
  "Assumptions", "Constraints", "Information Collection Method", "Information Sources", "Circumstances Prompting Update"]

collection(:Summary, SP800_37::Documents::Risk_Assessment) {
  string('described_system.name', :label => 'System')  # Using a path
  reorder('System', :to_beginning => true)             # Change order
  hide(*UNWANTED_DOC_ATTRIBUTES)                       # Remove attributes from the GUI (for this particular view)
}

# Disable derived accessors.  Also reorder sequence of attributes
organizer(:Summary, SP800_30::Threat_Event) {
  string('risk', :label => 'Risk', :disabled => true)
  string('overall_harm', :label => 'Overall harm (aka impact)', :disabled => true)
  string('overall_likelihood', :label => 'Overall likelihood', :disabled => true)
  string('worst_case_likelihood_of_initiation', :label => 'Worst case likelihood of initiation', :disabled => true)
  string('worst_case_likelihood_of_impact', :label => 'Worst case likelihood of impact', :disabled => true)
  reorder('risk', 'overall_harm', 'overall_likelihood', 'worst_case_likelihood_of_initiation', 'worst_case_likelihood_of_impact', :after => 'description')
}

# Add "Name" column to Contactable picker (when selecting an existing instance).  Probably also list in advanced view.
collection(:Summary, Entities::Contactable) {
  string('contactable_name', :label => 'Name')
}

# Change home page
organizer(:Details, Home) {
  view_ref(:Summary, 'initiatives', :label => 'Initiatives')
  view_ref(:Summary, 'actions', :label => 'Common Actions')
  view_ref(:Summary, 'actors', :label => 'Common Actors')
  view_ref(:Summary, 'data_sets', :label => 'Common Data Objects')
  view_ref(:Summary, 'requirements', :label => 'Common Requirements')
  view_ref(:Summary, 'definitions', :label => 'Reference Definitions')
  view_ref(:Summary, 'functions', :label => 'Reference Functions')
  view_ref(:Summary, 'communities', :label => 'Reference Communities')
  view_ref(:Summary, 'conditions', :label => 'Reference Conditions')
  view_ref(:Summary, 'use_cases', :label => 'Reference Use Cases')
  view_ref(:Summary, 'documents', :label => 'Reference Documents')
  order('initiatives', 'actions', 'actors', 'data_sets', 'requirements', 'definitions', 'functions', 'communities', 'conditions', 'use_cases', 'documents')
}

# Change label.  Add button.
organizer(:Details, Onc::Use_Case) {
  relabel('scenarios', 'Scenarios/Events')
  button('json_download', :label => 'Download JSON', :button_text => 'Download JSON', :display_result => :file, :save_page => false)
  button('complete_json_download', :label => 'Download Complete JSON', :button_text => 'Download Complete JSON', :display_result => :file, :save_page => false)
  button('xml_download', :label => 'Download XML', :button_text => 'Download XML', :display_result => :file, :save_page => false)
  button('publish_usecase', :label => 'Publish Use Case', :button_text => 'Publish Use Case', :display_result => :file, :save_page => false)
  # button('xmi_download', :label => 'Download XMI', :button_text => 'Download XMI', :display_result => :file, :save_page => false)
  # button('html_zip_download', :label => 'Download HTML', :button_text => 'Download HTML (zip)', :display_result => :file, :save_page => false)
  # button('html_and_json_zip_download', :label => 'Download HTML & JSON', :button_text => 'Download HTML & JSON (zip)', :display_result => :file, :save_page => false)
}



=end
