business_rules_filename = File.expand_path(File.join(File.dirname(__FILE__), "business_rules.rb"))
BusinessRules::RuleDsl.instance_eval(File.read(business_rules_filename))

MULTIVOCABULARY_ENABLED = false

# ------------------ Add textile helpers to NilClass, String, Array, and Sequel::Model ------------------
# THESE ARE HIGHLY REUSABE, AND SHOULD BE PUT ELSEWHERE SO THEY CAN BE SHARED AMONG PROJECTS
UNSPECIFIED = 'NOT SPECIFIED'
class Object
  def to_textile_table_value; to_s.replace_returns_with_br; end
  def to_textile_table_label; to_s.capitalize.remove_underscores; end
end
class NilClass
  def or_unspecified; UNSPECIFIED; end
  def content; String.new; end # Sometimes RichText is not specified.
end
class String
  # Used to convert strings such as space containing names into div tag id attribute values.
  # This is not complete enough: need to look into what characters are not allowed. HAML or Ramaze may already have better functionality for this purpose.
  def urlize; gsub(' ', '_'); end
  def or_unspecified; empty? ? UNSPECIFIED : self; end
  def remove_underscores; gsub('_', ' '); end
  # repaces multiple contiguous [\r\n\f] by a single \n.
  def remove_extra_returns; gsub(/[\r\n\f]+/, "\n"); end
  def remove_returns; gsub(/[\r\n\f]+/, ' '); end
  def replace_returns_with_br; gsub(/[\r\n\f]+/, '<br/><br/>'); end
  def remove_textile_cell_boundaries; gsub('|', ' '); end
  def path_leaf; split('::').last; end
  # Made this in attempt to constrain first column of table. It didn't work.
  def div_wrap(width); "<div @width=#{width}>#{self}</div>"; end
end
class Array
  # Returns a Textile string representing a bullet list.
  def to_textile_bullet_list
    return '' if empty?
    "* " + collect {|entry| entry.to_s}.join("\n* ") # + "\n" # Line end messes up list embedded in a table cell
  end
  # Returns a Textile string representing a row in a table
  def to_textile_table_row; "|" + collect {|entry| entry.to_s}.join("|" ) + "|"; end
  # Returns a Textile string representing a header in a table
  def to_textile_table_header; "|_." + collect {|entry| entry.to_s}.join("|_." ) + "|"; end
  # Creates a table that has one column per getter, and one row per Array entry.
  def make_textile_table(*getters)
    header = getters.collect {|getter| getter.to_textile_table_label }.to_textile_table_header
    rows = collect {|entry| getters.collect {|getter| entry.send(getter).to_textile_table_value }.to_textile_table_row }
    ([header] + rows).join("\n")
  end
  def to_textile_table(*getters)
    collect{|model| model.to_textile_table(*getters)}.join("\n\n") # ("\n|||\n")
  end
end
class Gui_Builder_Profile::RichText
  # We apply some further restrictions to the content string
  def to_textile_table_value; content.to_textile_table_value; end
end
class Gui_Builder_Profile::Code
  # We apply some further restrictions to the content string
  def to_textile_table_value; content; end
end
class Gui_Builder_Profile::File
  def to_textile_table_value; filename; end
end
class Sequel::Model
  # Returns a two-column table. The first column has getters, the second has values returned by the getters.
  # Each getter turns into a row.
  # Getters can be
  #  * A Symbol
  #  * A one-item Hash of the form { label => array_of_getters_forming_a_path }
  def to_textile_table(*getters)
    rows = getters.collect {|getter|
      label = getter
      raw_value = nil
      if getter.instance_of?(Hash)
        label = getter.keys.first
        path = getter[label]
        # I think we already have a more robust way to evaluate a path. Where is it?
        raw_value = path.inject(self) {|memo, subgetter| memo.send(subgetter) }
      else
        raw_value = send(getter)
      end
      value = raw_value.to_textile_table_value
      [label.to_textile_table_label, value].to_textile_table_row
      }
    rows.join("\n")
  end
end
# ------------------ End textile helpers ------------------ 

# dot_uml provides a programatic uml diagram creation DSL
# require 'graph_algorithms/dot_uml'

VIEW_PATH = relative 'pages/view'

=begin

# Example of subset  

module CRADA
  class Selected_Answer
    # This constrains @answer to be a subset of @question.answers
    add_association_options(:answer, :subset_of => 'question.answers')
  end
end


# Example of derived attributes.  This adds #contactable_name and #human_readable_class_name to Contactables.

module Entities
  class Contactable
    derived_attribute :contactable_name, String
    def contactable_name
      raise "This is an implmentor / subclass responsibility... this method is intended to be overridden at a lower level."
    end
    derived_attribute :human_readable_class_name, String
    def human_readable_class_name
      self.class.to_title
    end
  end
  class Named
    def contactable_name
      answer = name || 'Name not specified'
      answer << " (#{acronym})" if acronym
      answer
    end
  end
  class Organization
    def contactable_name
      answer = name || 'Name not specified'
      answer << " (#{acronym})" if acronym
      answer
    end
  end
  class Membership_Role
    def contactable_name; title || 'Title not specified'; end
  end
  class Abstract_Person
    def prefix?; nil!=prefix; end
    def first_name?; first_name && !first_name.empty?; end
    def middle_name?; middle_name && !middle_name.empty?; end
    def last_name?; last_name && !last_name.empty?; end
    def suffix?; suffix && !suffix.empty?; end
    
    def effective_prefix; prefix? ? prefix.value : ''; end
    def effective_first_name; first_name? ? first_name : '(No first name)'; end
    def effective_middle_name; middle_name? ? middle_name : '(No middle name)'; end
    def effective_last_name; last_name? ? last_name : '(No last name)'; end
    def effective_suffix; suffix? ? ", #{suffix}" : ''; end
    
    def contactable_name
      "#{effective_prefix} #{effective_first_name} #{effective_last_name} #{effective_last_name}#{effective_suffix}"
    end
  end
end

=end
